:root {
  --colorA: #ffbb5c;
  --colorB: #ff9b50;
  --colorC: #e25e3e;
  --colorD: #c63d2f;
  --colorE: #ffffff;
  --colorF: #000000;
  --mainFont: Cursive;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
